<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="layout/base :: content(~{::body})">

<body>

<h2>Iniciar Sesión</h2>

<form method="post" th:action="@{/auth/login}">
    <label>Email</label>
    <input type="email" name="username" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button type="submit">Ingresar</button>
</form>

<div th:if="${param.error}">
    <p style="color:red">Credenciales incorrectas o cuenta no activa.</p>
</div>

<<a th:href="@{/auth/registro/cliente}">Registrarse como Cliente</a>
<a th:href="@{/auth/registro/moderador}">Registrarse como Moderador</a>
<a th:href="@{/auth/registro/establecimiento}">Registrar Establecimiento</a>

</body>
</html>
