<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-rounded shadow-sm p-4">
          <h4>Crear cuenta</h4>
          <p>Elige el tipo de cuenta que deseas crear:</p>

          <div class="d-flex gap-3 flex-wrap">
            <a class="btn btn-outline-primary" th:href="@{/auth/registro/moderador}">Moderador</a>
            <a class="btn btn-outline-secondary" th:href="@{/auth/registro/cliente}">Cliente</a>
            <a class="btn btn-outline-success" th:href="@{/auth/registro/establecimiento}">Establecimiento</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
