<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cliente</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/light.css}">
    <link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>

<body class="light-theme">

<nav th:insert="~{fragments/navbar-public :: navbar}"></nav>

<main class="content-light p-4">
    <div th:replace="${content}"></div>
</main>

</body>
</html>
