<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
        <div class="container">
            <a class="navbar-brand fw-bold text-success" th:href="@{/}">
                BUDGETMAP
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navMenu" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lugares}">Lugares</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/eventos}">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/establecimientos}">Establecimientos</a>
                    </li>

                    <li class="nav-item ms-3">
                        <a class="btn btn-outline-success" th:href="@{/auth/login}">Ingresar</a>
                    </li>

                    <li class="nav-item ms-2">
                        <a class="btn btn-success" th:href="@{/auth/registro}">Crear cuenta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
