<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle} ?: 'BudgetMap'">BudgetMap</title>
</head>
<body>

    <!-- Declaramos el fragmento layout -->
    <th:block th:fragment="layout(content)">
    <!-- HEADER -->
    <th:block th:replace="layout/header :: header"></th:block>

    <!-- CONTENIDO -->
    <main>
        <th:block th:insert="${content}"></th:block>
    </main>

    <!-- FOOTER -->
    <th:block th:replace="layout/footer :: footer"></th:block>
    </th:block>

</body>
</html>
