<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Lugar</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="container mt-4">

    <h2>Crear Lugar</h2>

    <form th:action="@{/moderador/lugares/crear}" th:object="${lugar}" method="post">

        <div class="mb-3">
            <label>Nombre</label>
            <input th:field="*{nombre}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Tipo de Lugar</label>
            <select th:field="*{tipoL}" class="form-select">
                <option th:each="t : ${tipos}" th:value="${t}" th:text="${t}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label>Ciudad</label>
            <input th:field="*{ciudad}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Dirección</label>
            <input th:field="*{direccion}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Descripción</label>
            <textarea th:field="*{descripcion}" class="form-control"></textarea>
        </div>

        <button class="btn btn-success">Guardar</button>
    </form>

</div>
</body>
</html>
