<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moderador - Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container mt-4">
    <h2>Panel del Moderador</h2>

    <div class="row mt-4">

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h4 th:text="${lugaresCreados}">0</h4>
                <p>Lugares creados</p>
                <a th:href="@{/moderador/lugares}" class="btn btn-primary">Gestionar</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h4 th:text="${eventosActivos}">0</h4>
                <p>Eventos registrados</p>
                <a th:href="@{/moderador/eventos}" class="btn btn-primary">Gestionar</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h4 th:text="${establecimientosPendientes}">0</h4>
                <p>Establecimientos pendientes</p>
                <a th:href="@{/moderador/establecimientos}" class="btn btn-warning">Revisar</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>
